<link rel="stylesheet" type="text/css" href="/login.css">
  <div id="massege" class="login-form">
    <form action="/autentification/login" method="POST">
    <h1 >Login</h1>
    <input type="text" name="username" placeholder="Username" class="form-control">
    <input type="password" name="password" placeholder="Password" class="form-control">
    <input type="submit" value="Login" class="login-btn" />
     Don't have account?<a href="/autentification/signup" id="ram"><b>SignUp</b></a> 
    </form>
</div>

